<div class="col-xs-12 col-md-4 links">
  <div>
    <a class="icon-github" href="http://github.com/dormi" target="_blank" data-toggle="tooltip" title="Github"></a>
  </div>
  <div>
    <a class="icon-blog" href="til" data-toggle="tooltip" title="TIL"></a>
  </div>
</div>