<div class="row">

	<div class="col-xs-12 col-md-6 hello">
		You may need to authenticate to see this page, or the page doesn't exist at all.<br>
		If you've come here via a link I sent you, please do not hesitate to <%= mail_to "xavivm@gmail.com", "contact me" %>.
	</div>

	<div class="col-xs-12 col-md-4 links">
		<div>
			<a class="icon-github" href="http://github.com/dormi" target="_blank" data-toggle="tooltip" title="Github"></a>
		</div>
		<div>
			<a class="icon-blog" href="blog" data-toggle="tooltip" title="Blog"></a>
		</div>
	</div>

</div>
