<div class="row">

	<div class="col-xs-12 col-md-6 hello">
	  <b>Page not found:</b>
		<p>
			You may need to authenticate to see this page, or the page doesn't exist at all.<br>
		</p>
		<p>
			If you've come here via a link I sent you, please do not hesitate to <%= mail_to "xavivm@gmail.com", "contact me" %>.
		</p>	
	</div>

	<%= render "links" %>

</div>
