<div class="row">

	<div class="col-xs-12 col-md-12">
    <h1>TIL;</h1>
    <em>Interesting stuff I find along the way.</em>
    <br/>
    <code>
    <strong>Coming soon...</strong>
    </code>
    </div>
</div>
