// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
	font-family: 'Lato'
	a
		color: #428bca
		font-style: italic
	h1, h2, h3, h4, h5, h6
		font-family: 'Lato'
		font-weight: bold
	
	.footer
		color: #ccc
		font-weight: lighter
		text-align: center
		padding-bottom: 10px
	
#index-index, #index-site
	margin-top: 100px

	.hello
		font-size: 4em
		font-weight: lighter

	.links
		text-align: center
		font-size: 10em
		a:hover
			text-decoration: none
			color: black
		
	@media (min-width: 992px)
		.hello
			font-size: 2em
		.links
			font-size: 4em


#index-site
	margin-bottom: 50px

	.expandable
		cursor: pointer
		border: 1px solid black

	.bigger
		font-size: 1.2em

	h4
		margin-top: 20px
		font-weight: bolder
 
	.modal-dialog
		width: 760px !important

	#footer
		text-align: center
		margin-top: 20px

#index-til
	.header
		border-bottom: 1px solid #ccc
		margin-bottom: 50px;

	


